/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.search {
  display: flex;
  column-gap: 8px;
  margin-top: 36px;
}

.search-input {
  width: 272px;
  height: 40px;
  line-height: 24px;
  padding-left: 16px;
  letter-spacing: 0.004px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.search-input:hover,
.search-input:focus,
.search-input:active {
  border: 1px solid #4E75FF;
}


.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #4E75FF;
  padding: 8px 16px;
  border: none;
}

.submit:hover {
  background-color: #6C8CFF;
}

.submit:disabled {
  color: #FFFFFF;
  background-color: #4E75FF;
  opacity: 0.7;
  cursor: default;
}

.gallery-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  cursor: pointer;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.stats-block {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-top: 5px;
}

.stats-block li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-block li span:first-child,
.stats-block li span:nth-child(2) {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 4%;
}

.stats-block li span:first-child {
  font-weight: 600;
  line-height: 16px;
}

.stats-block li span:nth-child(2) {
  line-height: 24px;
}


.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  .gallery & {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #FF3D00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}

.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}